streamlit
langchain
langchain-chroma
langchain-core
langchain-openai
langchain-google-genai
langchain-google-vertexai
langchain_experimental
openai
chromadb
pydantic
esgf-pyclient
networkx
langgraph
esgf-pyclient
xarray
zarr
matplotlib
seaborn
plotly
netcdf4
gcsfs